<footer>
  <div class="container">
    <div class="footer-top">
      <div class="footer-top__left">
        <h3 class="footer-top__title">Giới thiệu về chúng tôi</h3>
        <p class="footer-top__text">Công ty chúng tôi là một trong những công ty hàng đầu trong lĩnh vực bán máy tính và phụ kiện máy tính. Chúng tôi cung cấp đầy đủ các sản phẩm máy tính từ các thương hiệu nổi tiếng như Apple, Dell, HP, Lenovo và nhiều thương hiệu khác. Ngoài ra, chúng tôi cũng cung cấp các loại phụ kiện máy tính như chuột, bàn phím, tai nghe, loa và các linh kiện máy tính khác. Chúng tôi cam kết mang đến cho khách hàng của mình sản phẩm chất lượng cao, đảm bảo tính ổn định và độ tin cậy.</p>
      </div>
      <div class="footer-top__right">
        <h3 class="footer-top__title">Liên hệ với chúng tôi</h3>
        <p class="footer-top__text"><i class="fa-solid fa-location-dot"></i> Địa chỉ: Số 1 Đại Cồ Việt, Hai Bà Trưng, Hà Nội</p>
        <p class="footer-top__text"><i class="fa-solid fa-phone"></i> Điện thoại: 1800 1234</p>
        <p class="footer-top__text"><i class="fa-solid fa-envelope"></i> Email: info@yourdomain.com</p>
          <p> </p>
      </div>
    </div>
    <div class="footer-bottom">
      <ul class="footer-bottom__list">
        <li class="footer-bottom__item">
          <a href="#" class="footer-bottom__link">Trang chủ</a>
        </li>
        <li class="footer-bottom__item">
          <a href="#" class="footer-bottom__link">Khuyến mãi</a>
        </li>
        <li class="footer-bottom__item">
          <a href="#" class="footer-bottom__link">Liên hệ</a>
        </li>
        <li class="footer-bottom__item">
          <a href="#" class="footer-bottom__link">Tin tức</a>
        </li>
        <li class="footer-bottom__item">
          <a href="#" class="footer-bottom__link">Tuyển dụng</a>
        </li>
      </ul>
      <p class="footer-bottom__text">&copy; 2023 Bản quyền thuộc về Tên trang web. Được thiết kế và phát triển bởi <a href="#" class="footer-bottom__link">Công ty HIKEY</a>.</p>
    </div>
  </div>
</footer>