* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
.padding{
    padding-bottom:30px;
}
.container {
    width: 80%;
    margin: auto;
}
body {
    width: 100%;
    height: 100%;

}

.navigation {
    width: 100%;
    height: 20%;
    display:flex;
}

.logo {
    width: 10%;
    height: 20%;
}

.logo img {
    width:100%;
    height: 100%;
}

.main-nav{
    display: flex;
    width:50%;
    height: 100%;
}

.main-nav ul{
    margin: 0;
    padding: 0;
    width:100%;
    height: 100%;
}

.main-nav ul li {
    padding: 3%;
    text-align: center;
    width: 24%;
    height: 100%;
    display: inline-block;
    font-family: Tahoma;
    font-size: large;
    color: #da4f4d;
    font-weight: normal;
    transition: 0.5s;
}

.main-nav ul li:hover{
    cursor: pointer;
    background-color: #9ed9e0;
}

/* Style cho footer */
footer {
  background-color: #222;
  color: #fff;
  padding: 50px 0;
  margin-top: 100px;
}

/* Style cho phần footer-top */
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px;
}

.footer-top__left {
  flex-basis: 55%;
}

.footer-top__right {
  flex-basis: 35%;
}

.footer-top__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-top__text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.fa {
  margin-right: 10px;
}

/* Style cho phần footer-bottom */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #444;
  padding-top: 20px;
}

.footer-bottom__list {
  display: flex;
}

.footer-bottom__item:not(:last-child) {
  margin-right: 30px;
}

.footer-bottom__link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-bottom__link:hover {
  color: #007bff;
}

.footer-bottom__text {
  font-size: 14px;
  line-height: 1.5;
}