{% extends 'layout/base.html' %}
{% block title %} {% endblock %}
{% block content %}
<div class="product">
    <div class="product-image col-6">
        <img src="{{ product.image }}" alt="Ảnh" class="product-img-detail">
    </div>
    <div class="product-detail col-8">
        <div class="product-name">
            <h3> {{ product.name }}</h3>
        </div>
        <div class="product-description col">
            <div class="product-price">
                <h2>Mua online giá sốc</h2>
                <h2>{{ "{:,.0f}".format(product.price) }} VND</h2>
            </div>
            <div class="product-offer">
                <h3 class="product-heading">Chính sách cho bạn</h3>
                <p><i class="fa-solid fa-envelope"></i>Hư gì đổi nấy 12 tháng tại 3385 siêu thị toàn quốc (miễn phí tháng đầu)</p>
                <p><i class="fa-solid fa-envelope"></i>Bảo hành chính hãng 1 năm tại các trung tâm bảo hành hãng</p>
                <p><i class="fa-solid fa-envelope"></i>Giảm 50% phần mềm diệt virus, bảo vệ thanh toán F-secure + Tặng thêm 3 tháng sử dụng</p>
            </div>
            <div class="product-offer">
                <h3 class="product-heading">Thông tin sản phẩm</h3>
                <p>{{ product.description }}</p>
            </div>
            <div class="product-offer">
                <h3 class="product-heading">Chương trình khuyến mãi</h3>
                <p><i class="fa-solid fa-envelope"></i>Tặng Balo Laptop (Hết quà hoàn tiền 100.000₫)</p>
                <p><i class="fa-solid fa-envelope"></i>Giảm 30% gói BH Mở rộng 24 tháng</p>
                <p><i class="fa-solid fa-envelope"></i>Giảm 50% phần mềm diệt virus, bảo vệ thanh toán F-secure + Tặng thêm 3 tháng sử dụng</p>
            </div>

            <button><span class="text">Mua ngay</span><span class="text">Cảm ơn!</span></button>
        </div>
    </div>
</div>


{% endblock %}
